@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './misc/variables';
@import './misc/normalize';

@import './partials/header';
@import './partials/footer';
@import './views/contacto';




