/* Formulario */

/* Seccion main */

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $spacing-small;
}

.container__contacto {
    background-image: linear-gradient(360deg, rgba(19, 6, 6, 0.901) 0%, #b6afaf);
    background-attachment: fixed;
}

.form-register {
    width: 400px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.controls {
    width: 100%;
    background: #c9caca;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #97a0b4;
    font-family: $font-principal;
    font-size: 18px;
    color: white;
}

.form-register {
    p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }

    .botons {
        width: 100%;
        background: #771111;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
}